<h2 href="#ngx-show-more">
    ngx-show-more
    <a
        class="btn btn-link"
        href="https://github.com/Dassderdie/ngx-utility-libraries/blob/main/projects/ngx-show-more/README.md"
    >
        <img style="max-height: 2rem" src="assets\GitHub-Mark-32px.png" />
    </a>
</h2>
<p>
    An Angular component that truncates arbitrary provided content if it is too
    high, but enables the user to expand it completely.
</p>

<div
    *ngFor="let demoCard of demoData; trackBy: '$index' | ngxTrackByProperty"
    class="card mb-3"
    style="max-width: 300px"
>
    <div class="card-header">{{ demoCard.title }}</div>
    <ngx-show-more
        class="card-body"
        defaultHeight="80px"
        btnClasses="btn btn-sm btn-light m-1 fw-bold bg-light"
    >
        <div [innerHTML]="demoCard.body$ | async"></div>
    </ngx-show-more>
</div>

<br />
